body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFDDA1;
  color: #E77728;
}
.task-item , .priority, .status {
  padding: 10px;
  border-radius: 10px;
  background-color: #FFD151 ;
  color: #141301;
  border: none;
}

select{
  background-color: #FFD151 ;
  color: #141301;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
}

button{
  background-color: #FFD151 ;
  color: #141301;
  border: none;
}
/* #FFD151 */
/* #D1462F */