body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFDDA1;
  color: #E77728;
  margin-bottom: 10px;
  margin:0;
}
.task-item , .priority, .status ,.search{
  padding: 10px;
  border-radius: 10px;
  background-color: #FFD151 ;
  color: #141301;
  border: none;
  margin-bottom: 10px;
}
.tasklist{
  display: flex;
  gap:12px;
  flex-direction: row;

}

select{
  background-color: #FFD151 ;
  color: #141301;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  margin-bottom: 10px;
}

button{
  background-color: #FFD151 ;
  color: #141301;
  border: none;
  gap:10px;
  margin-bottom: 10px;
}

.task-items{
  border: 1px solid  #D1462F;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  
}
.task label{
  display: block;
  margin: 10px;

}

label{
  margin-bottom: 10px;
  display: inline-block;

}
input , select,  textarea{
 border-radius: 10px;
 border: 1px solid;
}

.mainbody{

  max-width: 900px;
  margin: 0px;
  padding: 30px
}
/*  Navajo white: FFDDA1
Golden pollen: #FFD151
Burnt Tang: #D1462F
Pumpkin spice: #E77728
#FFD151 yellowish*/
/* #D1462F orangish */